#tc-7{
    width: calc(100% + 30px);
    margin: 0px -15px;
}
.container{
    background-color: #EEEEEE;
}
.container button{
    margin: 30px 0px;
    width: 200px;
    border-color: #33AA66;
}
.container button a{
    color: #33AA66;
}
h1 img{
    margin-right: 1em;
    height: 40px;
}
h1{
    font-size: 35px;
    display: inline-block;
}
.title{
    border-bottom: 1px solid gray;
    padding: 0px 15px;
}
.title button{
    width: 150px;
    margin: 13.5px 0px;
}
section{
    padding: 20px 15px 10px;
}
.content{
    background-color: white;
    margin-bottom: 20px;
}
.content p{
    font-size: 30px;
}
.map{
    width: 100%;
}
.well{
    font-size: 30px;
    background-color: white;
    border: none;
}
section .btn{
    width: 100%;
    background-color: white;
    border: none;
    margin: 10px auto;
}
.collapse{
    border-bottom: 1px solid gray;
}
footer p{
    text-align: center;
    font-size: 20px;
}